*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(220, 165, 165);
    color:rgb(225, 222, 222)
}
h1{
    text-align: center;
    color:antiquewhite;
    padding:2vw;
    box-sizing: border-box;
}
nav{
    height:10vh;
    background-color: rgb(9, 10, 10);
    color:rgb(15, 9, 3);
}

.container{
    margin:50px;
    border:2px solid white;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    gap:18px;
    justify-content: center;
    align-items: center;
    background-color: rgba(39, 17, 17,0.5);
    
    
}

form{
    margin:30px;
    display:flex;
    flex-direction: column;
    gap:18px;
    justify-content: center;
    align-items: center;
}

button{
    height:30px;
    width:90px;
    text-align: center ;
    font-weight: bold;
}

.weight-guide{
    margin: 400px;
}
